<p id="notice"><%= notice %></p>

<h1>Listing Data Points</h1>
<ul class="continent_buttons">
  <% @continents.order(:name).each do |continent| %>
    <% if continent.id < 7 %>
      <li >
        <% formatted_name = continent.name.gsub(" ", "_").downcase %>
	<%= button_to continent.name, data_points_path(continent: formatted_name), remote: true, method: :get %>
      </li>
    <% end %>
  <% end %>

  <% @continents.each do |continent| %>
    <% if continent.id == 9 %>
      <li >
        <% formatted_name = continent.name.gsub(" ", "_").downcase %>
	<%= button_to continent.name, data_points_path(continent: formatted_name), remote: true, method: :get %>
      </li>
    <% end %>
  <% end %>
<!--

  <li>
    <button class="global_hemispheres continent_button" value="global_hemispheres">
      Global
    </button>

  </li>
-->
</ul>

<div id="graph">
</div>

IGNORE BELOW THIS
<%= link_to 'New Data point', new_data_point_path %>


